body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-container {
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
    background-size: cover;
    min-height: 350px;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav, .right_nav, .tags-heading  {
    display: flex;
    align-items: center;
}

.new_post_btn {
    margin-left: 15px;
}

.new_post_btn > a, .right_nav > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #1bb76e;
    padding: 6px 13px;
    border-radius: 3px;
    height: 25px;
}

.new_post_btn > a > span, .right_nav > a {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: -0.5px;
}

.right_nav > a {
    padding: 6px 30px;   
}

#sign_in {
    background-color: inherit;
    padding: 6px 15px;
}

.right_nav > a:nth-child(2) {
    background-color: #6432f9;
    padding: 6px 15px;
}

.welcome-msg {
    text-align: center;
    color: #aed8ea;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serifF;
    margin-top: 35px;
}

.tags {
    width: 90%;
    margin: auto;
}

.tags-heading {
    justify-content: space-between;
    color: #fff;
    opacity: 0.7;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serifF;
}

.search-bar {
    position: absolute;
    z-index: 5;
    top: 15px;
    left: calc(50% - 280px);
}

.search-bar > input {
    width: 525px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    opacity: 0.7;
    height: 25px;
    background: hsla(0,0%,100%,.25);
    padding: 6px 10px;
}

.search-bar > input::placeholder {
    color:#fff;
}

.search-bar > input:focus {
    outline: none;
}

.search-bar > img {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}

.search-result {
    background: #515073;
    width: 546px;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 5;
    max-height: 300px;
    overflow: auto;
}

.search-result > ul {
    padding: 0px 10px;
}

.search-result > ul > li {
    list-style-type: none;
    height: 35px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.search-result > ul > li:hover {
    background: hsla(0,0%,80%,.29);
}