body{
    margin: 0;
    padding: 0;
}

.header-container {
    z-index: 5;
    background-image: url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
    background-size: cover;
    min-height: 400px;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav, .right_nav, .tags-heading  {
    display: flex;
    align-items: center;
}

.new_post_btn {
    margin-left: 15px;
}

.new_post_btn > a, .right_nav > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #1bb76e;
    padding: 6px 13px;
    border-radius: 3px;
    height: 25px;
}

.new_post_btn > a > span, .right_nav > a {
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: -0.5px;
}

.right_nav > a {
    padding: 6px 30px;   
}

#sign_in {
    background-color: inherit;
    padding: 6px 15px;
}

.right_nav > a:nth-child(2) {
    background-color: #6432f9;
    padding: 6px 15px;
}

.welcome-msg {
    text-align: center;
    color: #aed8ea;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serifF;
    margin-top: 35px;
}

.tags {
    width: 90%;
    margin: 0 auto;
}

.tags-heading {
    justify-content: space-between;
    color: #fff;
    opacity: 0.7;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serifF;
}

.search-bar {
    position: absolute;
    z-index: 5;
    top: 15px;
    left: calc(50% - 280px);
}

.search-bar > input {
    width: 525px;
    margin-left: 10px;
    font-size: 15px;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    opacity: 0.7;
    height: 25px;
    background: hsla(0,0%,100%,.25);
    padding: 6px 10px;
}

.search-bar > input::placeholder {
    color:#fff;
}

.search-bar > input:focus {
    outline: none;
}

.search-bar > img {
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}

.search-result {
    background: #515073;
    width: 546px;
    border-radius: 3px;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 5;
    max-height: 300px;
    overflow: auto;
}

.search-result > ul {
    padding: 0px 10px;
}

.search-result > ul > li {
    list-style-type: none;
    height: 35px;
    cursor: pointer;
    margin: 5px 0px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.search-result > ul > li:hover {
    background: hsla(0,0%,80%,.29);
}

.wrapper{
  width: 100%;
  background-color: rgb(46,48,53);
}
.cards{
    width: 1000px;
    position: relative;
    top: -60px;
    /* z-index: -1; */
    /* overflow-x: hidden; */
    margin: auto;
    columns: 4;
    transition: 300ms ease-in-out;
    column-gap: 25px;
    
}

.card{
    z-index: 10;
    /* margin-top: 10px; */
    margin-bottom: 13px;
    /* margin-right: 10px; */
    position: relative;
    width: 240px;
    border-radius: 5px;
    cursor: pointer;
}
.overlay{
    
    position:absolute;
    background-color: transparent;
    width: 240px;
    top: 0;
    bottom: 0;
}
.sd{
    width: 100%;
    cursor: pointer;
}
.overlay:hover{
    visibility: visible;
    background-color: rgba(255, 255, 255, .2);
}
.vedio{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0;
    min-height: 200px;
}
.vedio img{
    border-radius: 5px 5px 0px 0;
    width: 100%;
    min-height: 200px;
}
.details{
    border-radius: 0 0 5px 5px;

    padding-top: 1px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(71,74,81);
}
.details h3{
    margin-left: 10px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.analytica{
    margin-left: 10px;
    color: gray;
    display: flex;
    /* justify-content: space-around; */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.analytica span{
    margin-right: 40px;
}

.footer{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    background-color: rgb(51,53,59);
    transform: translateY(0%);
    transition: 300ms ease-in-out;
}
.cont{
    list-style: none;
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0;
    /* width: 1250px; */
    /* margin: auto; */
}
.cont li{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(164,169,178);
    margin-left: 20px;
    padding:  15px;
    cursor: pointer;
    font-size: 14px;
}
.cont li:first-of-type{
    font-weight: 600;
}
.cont li:nth-child(12){
    display: flex;
    align-items: center;
    font-size: 25px;
}
.cont li:last-of-type{
    width: 130px;
    line-height: 27px;
    background-color: rgb(71,74,81);
}
.sticky{
    transform: translateY(100%);
    transition: 300ms ease-in-out;
}
.drop{
    top: 50px;
    transition: 300ms ease-in-out;
}
.sort{
    /* margin-top: -50px; */
    /* height: 100px; */
}